body {
  height: 100vh;
  background-color: #4a4e69;
}

nav {
  background-color: #22223b;
}
.add-button {
  position: fixed;
  bottom: 10%;
  left: 82%;
  z-index: 3;
  color: #22223b;
  background-color: #ffffff;
}

textarea {
  border-radius: 3mm;
  box-shadow: 3px 3px 10px #22223b;
}

.note-number {
  color: white;
  font-weight: 700;
}

.check-button {
  position: fixed;
  top: 85%;
  left: 82%;
  z-index: 4;
  background-color: #22223b;
}

.save-button {
  position: fixed;
  top: 85%;
  left: 82%;
  z-index: 3;
  background-color: #22223b;
}

.save-button:hover,
.close-button:hover,
.check-button:hover,
.add-button:hover {
  scale: 1.2;
  transition: 0.8s;
}

.close-button {
  position: fixed;
  top: 10%;
  left: 82%;
  z-index: 3;
  background-color: #22223b;
  color: #fff;
}

.list-note {
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3mm;
  box-shadow: inset 0 0 0 0 #4a4e69;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-height: 150px;
  gap: 1rem;
}

.list-note p {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: scroll;
  margin: 0;
}

.list-note:hover {
  background-color: #4a4e69;
  color: white;
  scale: 1.02;
  transition: 0.8s;
  box-shadow: inset 800px 0 0 0 #22223b;
  color: white;
}

.list-note:hover::before {
  content: "Edit";
}

.notes {
  background: transparent;
  padding: 2rem;
  display: flex;
  font-weight: 600;
}

.notes-mobile {
  /* height: 100%; */
  overflow: auto;
}

.write-note {
  position: fixed;
  background-color: whitesmoke;
  z-index: 2;
}

.edit-note {
  position: fixed;
  background-color: whitesmoke;
  z-index: 2;
}

.list-note button {
  border-radius: 1mm;
  padding: 0.5em;
}

.list-note button:hover {
  scale: 1.2;
  transition: 0.8s;
}

.delete-button {
  color: #ffffff;
  background-color: #22223b;
}

.delete-button:hover {
  background-color: #ffffff;
  color: #22223b;
}

.result-found {
  list-style: none;
  border-radius: 3mm;
  padding: 1rem;
  background-color:  #22223b;
  color: #ffffff;
  text-decoration: none;
}

.search-button {
  background-color:  #22223b;
  color: white;
  border-radius: 1mm;
}

.confirm-delete {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
}

.delete-box {
  /* padding: 5rem; */
 
 background-color: white;
  border-radius: 2mm;
  box-shadow: 2px 2px 5px #22223b ;
}

.delete-box button{
  color: white;
  background-color: #22223b;
  border-radius: 2mm;
}

.delete-box button:hover {
  scale: 1.1;
  transition: 0.8s;
}

.search-button:hover, .search-main:hover {
  scale: 1.2;
  transition: 0.8s;
}